<table class="table table-striped" *ngIf="clients?.length > 0; else noClients">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.$key}}</td>
      <td>{{client.firstName}} {{client.lastName}}</td>
      <td>{{client.email}}</td>
      <td>{{client.balance}}</td>
      <td><a href="" class="btn btn-secondary btn-sm">Details</a></td>
    </tr>
  </tbody>
</table>


<ng-template #noClients>
  <hr>
  <p class="lead">There are no clients in CPanel system.</p>
</ng-template>